* { /* post */
  max-width:100%;
}

body, html {
  margin:0;
  height:100%;
  font-family:Arial;
}

#player {
  height:auto;
  width:900px;
  position:absolute;
  top:50%;
  left:50%;
  margin-right:50%;
  transform:translate(-50%, -50%);
  border-radius:5px;
  background:#E0C2F7;
}

.controls-control > * {
  margin:0;
  margin-bottom:5px;
  text-align:center;
}

.controls-control-titlebox {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.controls-control-title {
  text-align:center;
  overflow:hidden;
  white-space:nowrap;
}

.controls {
  width:100%;
  height:60px;
  display:flex;
  align-items:center;
  justify-content:space-around;
  background:#FFBF00;
}

.controls_progress,
.controls_volume {
  position:relative;
  overflow:hidden;
  transition:.1s;
  cursor:pointer;
}

.controls_material {
  display:flex;
  align-items:center;
  justify-content:space-around;
  width:140px;
  height:auto;
}

.controls_control {
  border:none;
  background:transparent;
  font-size:19.5px;
  transition:.4s;
  outline:0;
  cursor:pointer;
}

.controls_control:hover {
  transform:scale(1.1);
}

.controls_control:active {
  transition:.15s;
  transform:scale(1);
}

.controls_progress {
  width:400px;
  height:17.5px;
  border:1px solid black;
  border-radius:45px;
}

.controls_fill {
  position:absolute;
  left:0;
  top:0;
  height:100%;
  width:40%;
  overflow:hidden;
  background:linear-gradient(135deg, orange, blue);
  /* transition:1s linear; */
  transition:opacity .2s;
}

.controls_fill.dragable {
  /* transition:0s; */
  opacity:.8;
}

.listbox {
  width:100%;
  padding-top:10px;
  height:calc(400px - 10px);
}

.search {
  height:30px;
  width:90%;
  border:1px solid black;
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:10px;
  font-size:17px;
  outline:0;
  background:transparent;
  font-family:"Lato";
  padding-left:10px;
  padding-right:10px;
}

.search::placeholder {
  transition:all .4s, transform .4s;
  position:relative;
  left:0;
  opacity:1;
  transform:translateX(0px);
}

.search:focus::placeholder {
  transition:all .4s, transform 0s .4s;
  left:100px;
  opacity:0;
  transform:translateX(300px);
}

.list {
  width:90%;
  height:600px;
  margin-top:15px;
  overflow:auto;
  padding-bottom:5px;
  position:relative;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.list-song {
  width:calc(100% - 25px);
  height:25px;
  border:1px solid rgba(0, 0, 0, .2);
  display:flex;
  margin-left:auto;
  margin-right:auto;
  justify-content:space-between;
  align-items:center;
  padding-left:10px;
  padding-right:10px;
  font-size:1em;
  line-height:24px;
  font-family:"Lato";
  cursor:pointer;
  margin-top:5px;
  margin-bottom:5px;
}

.list-song > * {
  user-select:none;
}